body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: rgb(234, 203, 203);
  padding: 20px 30px;
  border-radius: 8px;
  width: 280px;
}
.login-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.input-block {
    Width:400px;
     padding-bottom: 16px;
    padding-right: 48px;
    padding-top: 9px;
}

.user-password {
      width: 54%;
    padding: 8px;
    margin-top: 4px;
}
.login-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(34, 12, 231);
}
.user-input{
  padding-right: 70px;
    padding-top: 11px;
    padding-bottom: 4px;

}

